body{
    background-color: black
}

.dropdown:hover .dropdown-menu {
    display: block;
    }

#headin{
    margin: 0 auto;
    width: 800px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    padding: 10px
}

#headin2{
    margin: 0 auto;
    width: 730px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    padding: 5px
}

#headin3{
    margin: 0 auto;
    width: 400px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    padding: 5px
}

#headin4{
    text-align: center;
    width: 100%;
    font-size: 80px;
    background-color: white;
    color: black
}

.flex-container{
    display: flex;
    flex-direction: column;
    
}

.ite{
    height: 300px;
    background-color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#ite1{
    margin: 10px;
    border-radius: 15px;
        
}
#ite2{
    margin: 10px;
    border-radius: 15px;
}
#ite3{
    margin: 10px;
    border-radius: 15px;
}
#ite4{
    margin: 10px;
    border-radius: 15px;
}
#ite5{
    margin: 10px;
    border-radius: 15px;
}
#ite6{
    margin: 10px;
    border-radius: 15px;
}
#ite7{
    margin: 10px;
    border-radius: 15px;
}

.containr{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.itemz{
    height: 80%;
    
}